@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cauterize {
    @apply flex justify-center items-center;
  }
}

html,
body {
  overflow-x: hidden !important;
}

body::-webkit-scrollbar {
  width: 0;
  border-radius: 4.5rem;
  background-color: transparent !important;
}

body::-webkit-scrollbar-track {
  background-color: transparent !important;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

body::-webkit-scrollbar-track-piece {
  display: none;
}

section {
  padding-block: 8rem;
}
